@media only screen and (max-inline-size: 600px) {
  /* Styles pour les écrans étroits */
}

@media only screen and (min-inline-size: 601px) and (max-inline-size: 1024px) {
  /* Styles pour les écrans moyens */
}

@media only screen and (min-inline-size: 1025px) {
  /* Styles pour les écrans larges */
}

/* Styles de base pour le pied de page */
footer {
  position: relative; /* Utilisation de "relative" au lieu de "absolute" */
  inline-size: 98.2%; /* Utilisation de 100% de la largeur de l'écran */
  inset-block-end: -10px;
  block-size: 35px;
  margin: 10px;
  block-size: 55px;
  border-radius: 5px;
  background-color: rgb(140, 202, 233);
  border: solid 1.5px black;
  color: rgb(0, 0, 0);
}

button {
  inline-size: 110px;
  block-size: 40px;
  font-size: 13px;
  margin:0px;
  border-radius: 5px;
  border: solid 2.5px rgb(17, 0, 255);
}


/* Media query pour ajuster les styles sur des écrans plus petits */
@media only screen and (max-inline-size: 600px) {
  footer
  button {
    inline-size: auto; /* Laisser la largeur s'ajuster automatiquement */
  }
}
