@media only screen and (max-inline-size: 600px) {
  /* Styles pour les écrans étroits */
}

@media only screen and (min-inline-size: 601px) and (max-width: 1024px) {
  /* Styles pour les écrans moyens */
}

@media only screen and (min-inline-size: 1025px) {
  /* Styles pour les écrans larges */
}

/* Styles de base pour le bouton */
button {
  inline-size: 98.7%; /* Utilisation de 100% de la largeur de l'écran */
  block-size: 45px;
  font-size: 16px;
  color: white;
  margin: 10px;
  border-radius: 5px;
  border: solid 1.5px black;
  background-color: rgb(140, 202, 233);
}

/* Media query pour ajuster les styles sur des écrans plus petits */
@media only screen and (max-inline-size: 600px) {
  button {
    inline-size: auto; /* Laisser la largeur s'ajuster automatiquement */
    block-size: 35px; /* Ajustement de la hauteur */
    font-size: 14px; /* Ajustement de la taille de police */
  }
}


p {
  margin: 10px;
}

a {
 margin: 10px;
}

.column-container {
  column-width: 15cm;
  display: inline-block;
}

.column-content {
  display: block;
  margin-block-end: 0px; /*espace entre les url*/
}



