<!--**********************************-->
<!--Ressources documents.pdf cours DEV-->
<!--**********************************-->
<button style="text-align: start" title="cylabus.pdf">
  💾&nbsp;Ressources .pdf (cylabus de cours DEV)
</button>
&nbsp;&nbsp;&nbsp;📁
<button
  style="
    display: inline;
    inline-size: 85px;
    block-size: 25px;
    color: white;
    background-color: red;
  "
  onclick="alert('🚫 pas autorisé!')"
>
  Delete
</button>
&nbsp;
<button
  style="
    display: inline;
    inline-size: 85px;
    block-size: 25px;
    color: white;
    background-color: rgb(0, 17, 255);
  "
  onclick="alert('🚫 pas autorisé!')"
>
  Update
</button>
<p style="color: blue; display: inline">Date: 13/12/2023</p>
<p style="color: rgb(0, 0, 0); display: inline">Ressource.pdf (Angular)</p>
&nbsp;
<a href="assets\pdf\SZMULIKOWSKI (signé et daté).pdf" style="display: inline"
  >Angular</a
>&nbsp;📁
<br />
&nbsp;&nbsp;&nbsp;📁
<button
  style="
    display: inline;
    inline-size: 85px;
    block-size: 25px;
    color: white;
    background-color: red;
  "
  onclick="alert('🚫 pas autorisé!')"
>
  Delete
</button>
&nbsp;
<button
  style="
    display: inline;
    inline-size: 85px;
    block-size: 25px;
    color: white;
    background-color: rgb(0, 17, 255);
  "
  onclick="alert('🚫 pas autorisé!')"
>
  Update
</button>
<p style="color: blue; display: inline">Date: 13/12/2023</p>
<p style="color: rgb(0, 0, 0); display: inline">Ressource.pdf (Algo)</p>
&nbsp;
<a href="assets/pdf/Python%20-%20Base%20(Bstorm).pdf" style="display: inline"
  >Algo</a
>&nbsp;📁
<br />
&nbsp;&nbsp;&nbsp;📁
<button
  style="
    display: inline;
    inline-size: 85px;
    block-size: 25px;
    color: white;
    background-color: red;
  "
  onclick="alert('🚫 pas autorisé!')"
>
  Delete
</button>
&nbsp;
<button
  style="
    display: inline;
    inline-size: 85px;
    block-size: 25px;
    color: white;
    background-color: rgb(0, 17, 255);
  "
  onclick="alert('🚫 pas autorisé!')"
>
  Update
</button>
<p style="color: blue; display: inline">Date: 13/12/2023</p>
<p style="color: rgb(0, 0, 0); display: inline">
  Ressource.pdf (SQL procédural)
</p>
&nbsp;
<a href="assets\pdf\T-SQL - Procédural.pdf" style="display: inline"
  >SQL procédural</a
>&nbsp;📁
<!--**********************************-->
<!--Ressources.pdf documents formation-->
<!--**********************************-->
<button style="text-align: start" title="document formation.pdf">
  💾&nbsp; Documents pdf (formation professionnelle)
</button>
<div class="column-content">
  &nbsp;&nbsp;&nbsp;📁
  <button
    style="
      display: inline;
      inline-size: 85px;
      block-size: 25px;
      color: white;
      background-color: red;
    "
    onclick="alert('🚫 pas autorisé!')"
  >
    Delete
  </button>
  &nbsp;
  <button
    style="
      display: inline;
      inline-size: 85px;
      block-size: 25px;
      color: white;
      background-color: rgb(0, 17, 255);
    "
    onclick="alert('🚫 pas autorisé!')"
  >
    Update
  </button>
  <p style="color: blue; display: inline">Date: 12/12/2023</p>
  <p style="color: rgb(0, 0, 0); display: inline">
    Ressource contrat formation technofutur gosselies
  </p>
  &nbsp;
  <a href="assets\pdf\SZMULIKOWSKI (signé et daté).pdf" style="display: inline"
    >technofutur Gosselies</a
  >&nbsp;📁
  <!--************************-->
  <!--Ressources data Power BI-->
  <!--************************-->
  <button style="text-align: start" title="consult data_source">
    💾&nbsp;Ressources data
  </button>
  <div class="column-content">
    &nbsp;&nbsp;&nbsp;📁
    <button
      style="
        display: inline;
        inline-size: 85px;
        block-size: 25px;
        color: white;
        background-color: red;
      "
      onclick="alert('🚫 pas autorisé!')"
    >
      Delete
    </button>
    &nbsp;
    <button
      style="
        display: inline;
        inline-size: 85px;
        block-size: 25px;
        color: white;
        background-color: rgb(0, 17, 255);
      "
      onclick="alert('🚫 pas autorisé!')"
    >
      Update
    </button>
    <p style="color: blue; display: inline">Date: 11/12/2023</p>
    <p style="color: rgb(0, 0, 0); display: inline">
      Ressource power BI (console de traitement de données)
    </p>
    <a
      href="https://app.powerbi.com/home?experience=power-bi"
      style="display: inline"
      >Dashboard</a
    >&nbsp;⭐
  </div>
  &nbsp;&nbsp;&nbsp;📁
  <button
    style="
      display: inline;
      inline-size: 85px;
      block-size: 25px;
      color: white;
      background-color: red;
    "
    onclick="alert('🚫 pas autorisé!')"
  >
    Delete
  </button>
  &nbsp;
  <button
    style="
      display: inline;
      inline-size: 85px;
      block-size: 25px;
      color: white;
      background-color: rgb(0, 17, 255);
    "
    onclick="alert('🚫 pas autorisé!')"
  >
    Update
  </button>
  <p style="color: blue; display: inline">Date: 11/12/2023</p>
  <p style="color: rgb(0, 0, 0); display: inline">
    Ressource power BI (Analayse db forem / demandeurs emplois wallonie): &nbsp;
  </p>
  <a
    href="https://app.powerbi.com/home?experience=power-bi"
    style="display: inline"
    >demandeurs emplois wallonie</a
  >&nbsp;
  <br />
  &nbsp;&nbsp;&nbsp;📁
  <button
    style="
      display: inline;
      inline-size: 85px;
      block-size: 25px;
      color: white;
      background-color: red;
    "
    onclick="alert('🚫 pas autorisé!')"
  >
    Delete
  </button>
  &nbsp;
  <button
    style="
      display: inline;
      inline-size: 85px;
      block-size: 25px;
      color: white;
      background-color: rgb(0, 17, 255);
    "
    onclick="alert('🚫 pas autorisé!')"
  >
    Update
  </button>
  <p style="color: blue; display: inline">Date: 11/12/2023</p>
  <p style="color: rgb(0, 0, 0); display: inline">
    Ressource power BI (console de traitement de données): &nbsp;
  </p>
  <a
    href="https://app.powerbi.com/groups/me/reports/26ce0a4c-27c2-421e-8ab1-cbe873d58514/ReportSection?experience=power-bi"
    style="display: inline"
    >Données contacts</a
  >&nbsp;
  <br />
  &nbsp;&nbsp;&nbsp;📁
  <button
    style="
      display: inline;
      inline-size: 85px;
      block-size: 25px;
      color: white;
      background-color: red;
    "
    onclick="alert('🚫pas autorisé!')"
  >
    Delete
  </button>
  &nbsp;
  <button
    style="
      display: inline;
      inline-size: 85px;
      block-size: 25px;
      color: white;
      background-color: rgb(0, 17, 255);
    "
    onclick="alert('🚫 pas autorisé!')"
  >
    Update
  </button>
  <p style="color: blue; display: inline">Date: 11/12/2023</p>
  <p style="color: rgb(0, 0, 0); display: inline">
    Ressource power BI (traitement de données e-commerce labo-2020 technofutur):
    &nbsp;
  </p>
  <a
    href="https://app.powerbi.com/groups/me/reports/d7681724-e9bd-4135-89db-cf1958ffcda5/ReportSection?experience=power-bi"
    style="display: inline"
    >Données e-commerce labo-2020 technofutur</a
  >&nbsp;
  <!--**************-->
  <!--ressources url-->
  <!--**************-->
  <button style="text-align: start" title="consult ressource url">
    💾&nbsp;Ressources url
  </button>
  <div class="column-content">
    &nbsp;&nbsp;&nbsp;📁
    <button
      style="
        display: inline;
        inline-size: 85px;
        block-size: 25px;
        color: white;
        background-color: red;
      "
    >
      Delete
    </button>
    &nbsp;
    <button
      style="
        display: inline;
        inline-size: 85px;
        block-size: 25px;
        color: white;
        background-color: rgb(0, 17, 255);
      "
    >
      Update
    </button>
    <p style="color: blue; display: inline">Date: 11/12/2023</p>
    <p style="color: rgb(0, 0, 0); display: inline">
      Ressource officielle angular: &nbsp; https://angular.io/
    </p>
    <a href="https://angular.io/" style="display: inline">Angular</a>&nbsp;⭐
    <br />
    <div class="column-content">
      &nbsp;&nbsp;&nbsp;📁
      <button
        style="
          display: inline;
          inline-size: 85px;
          block-size: 25px;
          color: white;
          background-color: red;
        "
      >
        Delete
      </button>
      &nbsp;
      <button
        style="
          display: inline;
          inline-size: 85px;
          block-size: 25px;
          color: white;
          background-color: rgb(0, 17, 255);
        "
      >
        Update
      </button>
      <p style="color: blue; display: inline">Date: 11/12/2023</p>
      <p style="color: rgb(0, 0, 0); display: inline">
        Ressource officielle NodeJS: &nbsp; https://nodejs.org/en
      </p>
      <a href="https://nodejs.org/en" style="display: inline">NodeJS</a>&nbsp;
      <br />
    </div>
    <!--*****************************************-->
    <!--Ressources captures projects Angular demo-->
    <!--*****************************************-->
    <button style="text-align: start" title="consult ressource url">
      💾&nbsp;Ressources captures projects Angular / CV
    </button>
    &nbsp;&nbsp;📑<a
      href="assets\Ressources-side\Capture d'écran 2023-12-09 091736.png"
      style="display: inline"
      >Curriculum Vitae</a
    >
    &nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\Ressources-side\Capture d'écran 2023-12-10 151148.png"
      style="display: inline"
      >Demo Angular forms-demandeur emploi</a
    >&nbsp; &nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets/Ressources-side/Capture d'écran 2023-12-10 151208.png"
      style="display: inline"
      >Demo Angular forms-authguard</a
    >&nbsp;&nbsp; &nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\Ressources-side\Capture d'écran 2023-12-10 151625.png"
      style="display: inline"
      >Demo Angular forms-directive</a
    >&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\Ressources-side\Capture d'écran 2023-12-10 151558.png"
      style="display: inline"
      >Demo Angular ajout panier avec service</a
    >&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\Ressources-side\Capture d'écran 2023-12-10 151538.png"
      style="display: inline"
      >Demo Angular ajout liste fans avec service et interface</a
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\Ressources-side\Capture d'écran 2023-12-10 151248.png"
      style="display: inline"
      >Angular chrono</a
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\Ressources-side\Capture d'écran 2023-12-09 104941.png"
      style="display: inline"
      >Demo Angular console Power BI mobile</a
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\My-Project.js\403415714_749209790582041_850742286997544432_n.png"
      style="display: inline"
      >My-Project.JS: Home Page</a
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\My-Project.js\403403483_2011181992571075_4210447451025628142_n.png"
      style="display: inline"
      >My-Project.JS: Product1</a
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\My-Project.js\403416136_320600530815641_7771459393434636562_n.png"
      style="display: inline"
      >My-Project.JS: Product2</a
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\My-Project.js\403417641_1395820304642185_4432834498597874268_n.png"
      style="display: inline"
      >My-Project.JS: Product3</a
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🎞️&nbsp;&nbsp;<a
      href="assets\My-Project.js\403416174_337702642302025_4194936285091385968_n.png"
      style="display: inline"
      >My-Project.JS: Product4</a
    >&nbsp;
    <!--****************-->
    <!--Ajouter new item-->
    <!-------------------->
    <button style="text-align: start" title="consult project_frontend">
      💾&nbsp;Ressources update: new data
    </button>
  </div>
</div>
