@media only screen and (max-inline-size: 600px) {
  /* Styles pour les écrans étroits */
}

@media only screen and (min-inline-size: 601px) and (max-inline-size: 1024px) {
  /* Styles pour les écrans moyens */
}

@media only screen and (min-inline-size: 1025px) {
  /* Styles pour les écrans larges */
}

input {
  inline-size: 236px;
  block-size: 35px;
  margin: 8px;
  color: black;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid 2.5px red;
}

button {
  inline-size: 110px;
  block-size: 40px;
  font-size: 13px;
  border-radius: 5px;
  border: solid 2.5px rgb(17, 0, 255);
}

#tout3 input[required] {
  border-inline-end: 4px solid orange;
}
#tout2 input:invalid {
  border-inline-end: 4px solid red;
}
#tout2 input:valid {
  border-inline-end: 4px solid green;
}

th,
td {
  text-align: start;
  border-block-end: 1px solid black;
  padding: 8px;
}

