<nav
  class="nav"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  "
>
  <img
    title="szmulikowski vincent"
    style="
      margin: 10px;
      border: solid 2.5px rgb(99, 100, 98);
      border-radius: 50%;
    "
    src="assets/avatar/avatar1.png"
    width="3.5%"
  />
  <img style="margin: 20px" src="assets\logo\logo_Ressources.png" width="10%" />

  <ul style="flex: 1"></ul>

  <div
    style="
      display: flex;
      align-items: center;
      gap: 10px;
      flex: 1;
      justify-content: right;
    "
  >
    <button
      title="update ressources"
      style="
        background-color: blue;
        color: white;
        margin: 10px;
        inline-size: 75px;
        block-size: 35px;
        font-size: 13px;
        border-radius: 5px;
      "
      routerLink="/Update"
    >
      Update
    </button>
    <img src="assets\logo\logo_Angular.png" width="25%" />
  </div>
</nav>
