<nav class="nav">
  <img
    title="szmulikowski vincent"
    style="
      margin: 10px;
      border: solid 2.5px rgb(99, 100, 98);
      border-radius: 50%;
    "
    src="assets/avatar/avatar1.png"
    width="3.5%"
  />
  <img style="margin: 20px" src="assets\logo\logo_Ressources.png" width="10%" />
  <h1
    title="🌐Angular officiel"
    onclick="window.location.href='//angular.io/docs'"
  >
    Demo
  </h1>
  <ul style="margin: 500px">
    <li style="margin-inline-end: 10px"></li>
  </ul>
  <button
    title="update ressources"
    style="
      background-color: blue;
      color: white;
      inline-size: 105px;
      block-size: 45px;
      font-size: 20px;
      border-radius: 5px;
    "
    routerLink="/Update"
  >
    Update
  </button>
  <img src="assets\logo\logo_Angular.png" width="15%" />
</nav>
